<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cpc.yaounde.eservice">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.cpc.yaounde.eservice.data.GlobalVariable"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.cpc.yaounde.eservice.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.cpc.yaounde.eservice.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.cpc.yaounde.eservice.CartMainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.cpc.yaounde.eservice.capture.TakePhotoMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.cpc.yaounde.eservice.capture.PublishMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.cpc.yaounde.eservice.ExamDetailActivity"
            android:label="@string/title_activity_exam_detail"
            android:parentActivityName="org.cpc.yaounde.eservice.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.cpc.yaounde.eservice.MainActivity" />
        </activity>
        <activity
            android:name="org.cpc.yaounde.eservice.OMPaymentActivity"
            android:label="@string/title_activity_ompayment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.cpc.yaounde.eservice.TakeAppointmentActivity"
            android:label="@string/title_activity_take_appointment"
            android:theme="@style/AppTheme" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name="org.cpc.yaounde.eservice.SignUpActivity" />
        <activity android:name="org.cpc.yaounde.eservice.SignInActivity" />
        <activity android:name="org.cpc.yaounde.eservice.MessageDetailsActivity"></activity>
    </application>

</manifest>